# Men's Shoe Prices 
The goal of this kernel is to complete the **[task](https://www.kaggle.com/sureshmecad/mens-shoe-prices/tasks?taskId=4437)** associated with the dataset. The specific goals include:
> - What is the average price of each distinct brand listed?
> - Which brands have the highest prices?
> - Which ones have the widest distribution of prices?
> - Is there a typical price distribution (e.g., normal) across brands or within specific brands?
> - Correlate specific product features with changes in price.

Let's dive in!

# Imports & Settings

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Data Cleaning / Preprocessing

## Summary Info
To start, let's get a general feel for the data we're working with.

In [2]:
df = pd.read_csv('data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19387 entries, 0 to 19386
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   19387 non-null  object
 1   asins                2571 non-null   object
 2   brand                19129 non-null  object
 3   categories           19387 non-null  object
 4   colors               11048 non-null  object
 5   count                0 non-null      float64
 6   dateadded            19387 non-null  object
 7   dateupdated          19387 non-null  object
 8   descriptions         9904 non-null   object
 9   dimension            2991 non-null   object
 10  ean                  9999 non-null   float64
 11  features             13997 non-null  object
 12  flavors              0 non-null      float64
 13  imageurls            18342 non-null  object
 14  isbn                 0 non-null      float64
 15  keys                 19387 non-null  object
 16  manufacturer         6699 non-null   object
 17  manufacturernumber   15147 non-null  object
 18  merchants            14040 non-null  object
 19  name                 19387 non-null  object
 20  prices_amountmin     19377 non-null  object
 21  prices_amountmax     19387 non-null  object
 22  prices_availability  197 non-null    object
 23  prices_color         758 non-null    object
 24  prices_condition     12621 non-null  object
 25  prices_count         71 non-null     object
 26  prices_currency      19311 non-null  object
 27  prices_dateadded     19372 non-null  object
 28  prices_dateseen      19362 non-null  object
 29  prices_flavor        76 non-null     object
 30  prices_issale        19321 non-null  object
 31  prices_merchant      13843 non-null  object
 32  prices_offer         6091 non-null   object
 33  prices_returnpolicy  1018 non-null   object
 34  prices_shipping      5753 non-null   object
 35  prices_size          661 non-null    object
 36  prices_source        16 non-null     object
 37  prices_sourceurls    19281 non-null  object
 38  prices_warranty      108 non-null    object
 39  quantities           11 non-null     object
 40  reviews              1664 non-null   object
 41  sizes                5979 non-null   object
 42  skus                 8743 non-null   object
 43  sourceurls           19263 non-null  object
 44  upc                  10816 non-null  object
 45  vin                  46 non-null     object
 46  websiteids           8 non-null      object
 47  weight               863 non-null    object
dtypes: float64(4), object(44)
memory usage: 7.1+ MB

E:\Programs\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (39,45) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,id,asins,brand,categories,colors,count,dateadded,dateupdated,descriptions,dimension,...,prices_warranty,quantities,reviews,sizes,skus,sourceurls,upc,vin,websiteids,weight
0,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,699302044036,NaN,NaN,NaN
1,AVpfHrJ6ilAPnD_xVXOI,NaN,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,NaN,2016-11-07T00:45:12Z,2016-11-07T00:45:12Z,"[{""dateSeen"":[""2016-11-07T00:45:12Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,https://www.walmart.com/ip/Josmo-8190-Plain-In...,699302044036,NaN,NaN,NaN
2,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
3,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN
4,AVpfHsWP1cnluZ0-eVZ7,NaN,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,NaN,2016-06-14T04:29:57Z,2016-07-09T20:26:48Z,"[{""dateSeen"":[""2016-07-09T20:26:48Z""],""sourceU...",NaN,...,NaN,NaN,NaN,NaN,NaN,http://www.walmart.com/ip/Studs-Shoe-Large-Pr-...,NaN,NaN,NaN,NaN

In [4]:
df.describe()

       count           ean  flavors  isbn
count    0.0  9.999000e+03      0.0   0.0
mean     NaN  8.369699e+11      NaN   NaN
std      NaN  1.021830e+12      NaN   NaN
min      NaN  1.014667e+07      NaN   NaN
25%      NaN  6.759119e+11      NaN   NaN
50%      NaN  8.367772e+11      NaN   NaN
75%      NaN  8.871196e+11      NaN   NaN
max      NaN  9.416997e+12      NaN   NaN

In [5]:
round(df.isna().sum() / df.shape[0], 3)

id                     0.000
asins                  0.867
brand                  0.013
categories             0.000
colors                 0.430
count                  1.000
dateadded              0.000
dateupdated            0.000
descriptions           0.489
dimension              0.846
ean                    0.484
features               0.278
flavors                1.000
imageurls              0.054
isbn                   1.000
keys                   0.000
manufacturer           0.654
manufacturernumber     0.219
merchants              0.276
name                   0.000
prices_amountmin       0.001
prices_amountmax       0.000
prices_availability    0.990
prices_color           0.961
prices_condition       0.349
prices_count           0.996
prices_currency        0.004
prices_dateadded       0.001
prices_dateseen        0.001
prices_flavor          0.996
prices_issale          0.003
prices_merchant        0.286
prices_offer           0.686
prices_returnpolicy    0.947
prices_shipping        0.703
prices_size            0.966
prices_source          0.999
prices_sourceurls      0.005
prices_warranty        0.994
quantities             0.999
reviews                0.914
sizes                  0.692
skus                   0.549
sourceurls             0.006
upc                    0.442
vin                    0.998
websiteids             1.000
weight                 0.955
dtype: float64

## Dropping Columns
The data is fairly messy as it currently stands. There are lots of missing values (some columns are even entirely missing) and there are various data types that need corrected. Given the limited number of questions being answered for this task, a good chunk of the available data is irrelevant. Right off the bat, let's eliminate any columns that are missing 80% or more of their values. This will help reduce the size of the data we're working with and make further cleaning processes a bit easier.

In [6]:
cols_to_drop = [col for col in df.columns if df[col].isna().sum() >= 0.8*df.shape[0]]
cols_to_drop

['asins',
 'count',
 'dimension',
 'flavors',
 'isbn',
 'prices_availability',
 'prices_color',
 'prices_count',
 'prices_flavor',
 'prices_returnpolicy',
 'prices_size',
 'prices_source',
 'prices_warranty',
 'quantities',
 'reviews',
 'vin',
 'websiteids',
 'weight']

In [7]:
df.drop(columns=cols_to_drop, inplace=True)
df.columns

Index(['id', 'brand', 'categories', 'colors', 'dateadded', 'dateupdated',
       'descriptions', 'ean', 'features', 'imageurls', 'keys', 'manufacturer',
       'manufacturernumber', 'merchants', 'name', 'prices_amountmin',
       'prices_amountmax', 'prices_condition', 'prices_currency',
       'prices_dateadded', 'prices_dateseen', 'prices_issale',
       'prices_merchant', 'prices_offer', 'prices_shipping',
       'prices_sourceurls', 'sizes', 'skus', 'sourceurls', 'upc'],
      dtype='object')

Starting to get somewhere, but there's still more columns to drop:

In [8]:
df.drop(columns=['id', 'dateadded', 'dateupdated', 'descriptions', 'ean', 
                 'features', 'imageurls', 'keys', 'manufacturer',
                 'manufacturernumber', 'merchants', 'prices_condition',
                 'prices_dateadded', 'prices_dateseen', 'prices_issale',
                 'prices_merchant', 'prices_offer', 'prices_shipping',
                 'prices_sourceurls', 'sizes', 'skus', 'sourceurls', 'upc'],
       inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19387 entries, 0 to 19386
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             19129 non-null  object
 1   categories        19387 non-null  object
 2   colors            11048 non-null  object
 3   name              19387 non-null  object
 4   prices_amountmin  19377 non-null  object
 5   prices_amountmax  19387 non-null  object
 6   prices_currency   19311 non-null  object
dtypes: object(7)
memory usage: 1.0+ MB

## Adjusting Data Types

Some finishing touches by adjusting the data types:

In [9]:
df.prices_amountmin = pd.to_numeric(df.prices_amountmin, errors='coerce', downcast='float')
df.prices_amountmax = pd.to_numeric(df.prices_amountmax, errors='coerce', downcast='float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19387 entries, 0 to 19386
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             19129 non-null  object
 1   categories        19387 non-null  object
 2   colors            11048 non-null  object
 3   name              19387 non-null  object
 4   prices_amountmin  19294 non-null  float32
 5   prices_amountmax  19350 non-null  float32
 6   prices_currency   19311 non-null  object
dtypes: float32(2), object(5)
memory usage: 908.9+ KB

In [10]:
df.head()

,brand,categories,colors,name,prices_amountmin,prices_amountmax,prices_currency
0,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,"Josmo 8190 Plain Infant Walking Shoes, Navy - ...",39.889999,39.889999,USD
1,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,"Josmo 8190 Plain Infant Walking Shoes, Navy - ...",51.990002,51.990002,USD
2,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,Servus By Honeywell Shoe Studs Zsr101blmlg,40.020000,40.020000,USD
3,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,Servus By Honeywell Shoe Studs Zsr101blmlg,50.310001,50.310001,USD
4,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,Servus By Honeywell Shoe Studs Zsr101blmlg,46.259998,46.259998,USD

Much better! 

## Cleaning Final Dataframe
The two columns for price (`prices_amountmin` and `prices_amountmax`) caught my eye since the first five rows in the dataframe have the same value for both. To investigate this further, let's check what percentage of the rows have the same value in both columns.

In [11]:
sum(df.prices_amountmin == df.prices_amountmax) / df.shape[0]

0.9614690256357353

Over 96%! As a result, I'm okay with combining the two columns into a single column called `price` by taking the average.

In [12]:
df['price'] = np.mean([df.prices_amountmin, df.prices_amountmax], axis=0)
df_cleaned = df.drop(columns=['prices_amountmin', 'prices_amountmax'])
df_cleaned.head()

,brand,categories,colors,name,prices_currency,price
0,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,"Josmo 8190 Plain Infant Walking Shoes, Navy - ...",USD,39.889999
1,Josmo,"Clothing,Shoes,Men's Shoes,All Men's Shoes",NaN,"Josmo 8190 Plain Infant Walking Shoes, Navy - ...",USD,51.990002
2,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,Servus By Honeywell Shoe Studs Zsr101blmlg,USD,40.020000
3,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,Servus By Honeywell Shoe Studs Zsr101blmlg,USD,50.310001
4,SERVUS BY HONEYWELL,"All Men's Shoes,Shoes,Men's Shoes,Clothing",NaN,Servus By Honeywell Shoe Studs Zsr101blmlg,USD,46.259998

Next, let's check the value counts for the `prices_currency` column.

In [17]:
df_cleaned.prices_currency.value_counts()

USD                                                   18524
AUD                                                     338
CAD                                                     303
EUR                                                     107
GBP                                                      22
new                                                       3
New with box                                              3
UnbeatableSale.com, Inc. - Walmart.com                    3
PalmBeach Jewelry - Walmart.com                           3
Wholesale Costume and Party Supplies - Walmart.com        2
New without tags                                          1
Shoes.com                                                 1
SHOEBACCA LTD. - Walmart.com                              1
Name: prices_currency, dtype: int64

It appears that some data was incorrectly placed in the `prices_currency` column in the original dataset. The overwhelming majority is priced in USD though. We could either work on converting the other currencies to USD for accurate comparisons, or simply drop those rows. For the sake of simplicity in this kernel, let's drop the rows.

In [18]:
df_cleaned = df_cleaned[df_cleaned.prices_currency == 'USD']
df_cleaned.prices_currency.value_counts()

USD    18524
Name: prices_currency, dtype: int64